@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

* {
    font-family: 'Mukta', sans-serif;
}

.special-font {
    font-family: 'Vujahday Script', cursive;
}

body {
  color: black;
  margin-top: 5rem;
  background-image: linear-gradient(
  45deg,
  hsl(0deg 0% 100%) 0%,
  hsl(32deg 89% 98%) 20%,
  hsl(32deg 88% 96%) 29%,
  hsl(32deg 87% 94%) 36%,
  hsl(33deg 85% 92%) 43%,
  hsl(33deg 84% 90%) 50%,
  hsl(37deg 100% 90%) 57%,
  hsl(43deg 100% 88%) 64%,
  hsl(48deg 100% 87%) 71%,
  hsl(54deg 97% 86%) 80%,
  hsl(62deg 93% 84%) 100%
);
}

h1, h2, h3, h4, h5, h6 {
  color: #5b4e0b;
}

.bg-steel {
background-image: linear-gradient(
  45deg,
  hsl(55deg 100% 50%) 0%,
  hsl(48deg 100% 50%) 20%,
  hsl(42deg 100% 50%) 29%,
  hsl(34deg 100% 50%) 36%,
  hsl(27deg 100% 50%) 43%,
  hsl(18deg 100% 50%) 50%,
  hsl(351deg 100% 62%) 57%,
  hsl(336deg 100% 65%) 64%,
  hsl(319deg 72% 67%) 71%,
  hsl(281deg 53% 69%) 80%,
  hsl(240deg 53% 74%) 100%
);
}

.site-header .navbar-nav .nav-link {
  color: #5b4e0b;
}

.site-header .navbar-nav .nav-link:hover {
  color: #897510;
}

.navbar-dark .navbar-brand {
    color: black;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.article-title {
  color: #897510;
  text-decoration: none;
}

a.article-title:hover {
  color: #e4c31b;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img-post {
  display: block;
  margin: 20%;
  height: 200px;
  width: 180px;
  margin-right: 16px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  color: #897510;
  text-decoration: none;
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #e4c31b;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.article-metadata .mr-2{
    text-decoration: none;
    color: #b79c15;
}

.btn {
    background-color: #efdb76;
}

.tag {
    background-color: #efdb76;
    color: black;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

.list-group-item {
  background-image: linear-gradient(
      45deg,
      hsl(55deg 100% 50%) 0%,
      hsl(48deg 100% 50%) 20%,
      hsl(42deg 100% 50%) 29%,
      hsl(34deg 100% 50%) 36%,
      hsl(27deg 100% 50%) 43%,
      hsl(18deg 100% 50%) 50%,
      hsl(22deg 100% 50%) 57%,
      hsl(25deg 100% 50%) 64%,
      hsl(28deg 100% 50%) 71%,
      hsl(30deg 100% 50%) 80%,
      hsl(33deg 100% 50%) 100%
);
  color: black;
  padding: 5px;
  margin: 5px;
  width: 50%;
  min-width: 130px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.parent {
    display: grid;
    grid-template-columns: minmax(100px, 40%) 1fr;
    }

@media screen and (max-width: 480px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parent > div {
      width: 100%;
      margin: 10px;
      text-align: center;
}
}

.shadow-drop-2-center:hover {
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-24 20:34:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
