{% extends 'layout.html' %}

{% block content %}
         <article class="media content-section parent">
            <div>
                <img class="rounded-circle article-img-post" src="{{ url_for('static', filename='pictures/' + post.pictures) }}" alt="pets">
            </div>

          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.user.username) }}">By {{ post.user.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d/%m/%Y') }}</small>
                {% if post.user == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
                </div>
                <div>
                  <span class="tag">{{ post.pet_tag }}</span>
                  <span class="tag">Age gap: {{ post.age_tag}}</span>
                  <span class="tag">{{ post.gender}}</span>
              </div>
            <h1 class="article-title">Name: {{ post['name'] }}</h1>
            <p class="article-content"> Age: {{ post['age'] }}</p>
            <p class="article-content">Gender: {{ post['gender'] }}</p>
            <p>{{ post['content'] }}</p>
            <p>Want to adopt me? <br>{{ post['adoption_info'] }}</p>

          </div>
        </article>

 <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}